.pedidoSelecionado {
    box-sizing: border-box;
    border: var(--verde) solid 4px;
}

.order {
    position: relative;
}

.pedidoSelecionado ion-icon {
    display: inherit;
    position: absolute;
    font-size: 25px;
    right: 0px;
    bottom: 0px;
    color: var(--verde);
}